.wrap {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  gap: 5px;

  & > ol {
    display: flex;
    gap: 5px;
    margin: 0px;

    & > li {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #303038;

      & > button {
        min-width: 30px;
        height: 28px;
      }

      & > button:global(.active) {
        border: 1px solid var(--mantine-color-blue-5);
        color: var(--mantine-color-blue-7);
        border-radius: 5px;
        cursor: default;
      }
    }
  }

  // 화살표 버튼
  & > button > svg {
    color: #bfbfbf;

    &:hover {
      color: #929294;
    }
  }

  & > button:disabled > svg {
    color: #e0e0e0;
    cursor: default;
  }
}
