.form {
  position: relative;
}

.telInputField {
  margin-top: 28px;
}

.telInputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.brokerInput {
  --input-right-section-size: 4rem;
}
