.brkrId {
  font-size: 0.8rem;
  padding: 1rem;
  // display: flex;
  // padding: 1rem;
}

.nav {
  padding: 1rem;
}

.cameraBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.shutterBox {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
