@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.capture {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* 불투명한 흰색 배경 */
    pointer-events: none;

    /* 지름: 288px = 18rem */
    mask-image: radial-gradient(circle at center, transparent 9rem, black 9.05rem);
    -webkit-mask-image: radial-gradient(circle at center, transparent 9rem, black 9.05rem);
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #03e5b7 0%, #037ade 100%);
    animation: rotate 1s linear infinite;
}
