.container {
  padding: 1rem 0.625rem;
  background: #fafafa;
}

// 헤더 섹션
.header {
  text-align: center;
  padding: 2.125rem 0;
  background: linear-gradient(270deg, #00ae6a 0%, #3d99d5 100%);
  border-radius: 12px;
  color: #fff;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

// 인트로 섹션
.intro {
  margin-top: 20px;
  padding: 0 20px;

  h2 {
    font-size: 0.875rem;
    font-weight: 600;

    svg path {
      fill: #333;
      margin-right: 5px;
    }
  }

  p {
    margin-top: 7px;
    font-size: 0.75rem;
    font-weight: 300;
  }

  strong {
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.card {
  margin-top: 10px;
  padding: 12px 10px 20px 10px;
  border-radius: 12px;
  border: 1px solid #ededed;
  background: #fff;
}

// 섹션 스타일
.section {
  h2 {
    font-size: 0.875rem;
    font-weight: 600;
    color: #333;
  }

  hr {
    border: none;
    border-bottom: 1px solid #ededed;
  }

  h3 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #666;
  }
}

.section:not(:first-of-type) {
  margin-top: 20px;
}

.sectionTop,
.sectionBottom {
  padding: 0 10px;
}

.sectionBottom {
  p {
    margin-top: 7px;
    font-weight: 300;
    font-size: 0.75rem;
    color: #666;
  }
}

.sectionItem {
  margin-top: 10px;

  h4 {
    font-size: 0.75rem;
    color: #666;
  }

  p {
    font-size: 0.75rem;
    font-weight: 300;
    color: #666;
  }
}

// 정보 리스트
.infoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 7px;
}

.infoItem {
  background: rgba(61, 153, 213, 0.1);
  padding: 12px 10px 15px 10px;
  border-radius: 12px;

  h3 {
    font-size: 0.75rem;
    color: #666;
  }

  p {
    font-size: 0.75rem;
    font-weight: 300;
    color: #666;
  }
}

.durationBox {
  padding: 10px 12px;
  border-radius: 12px;
  background: rgb(0, 174, 106, 0.1);

  p {
    font-size: 0.75rem;
    color: #666;
  }

  span {
    color: #00ae6a;
  }
}
