.main {
  @extend %flex-center;
  min-width: 100svw;
  min-height: 100svh;
  flex-direction: column;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 28px;
  padding-bottom: 24px;
}

.title {
  text-align: center;
  font-size: 24px;
}

.kakaoSigninButton {
  background-color: #fee500;
  color: #000000 85%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  gap: 5px;
}
