.inputBox {
  border: 1.25px solid #bfbfbf;
  padding: 7px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.input {
  width: 100%;

  ::placeholder {
    color: #bfbfbf;
  }

  :focus {
    outline: none;
  }
}
