.labelInputBox {
  border: 1.25px solid #bfbfbf;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;

  &:global(.typing) {
    border-color: var(--mantine-color-blue-5);
  }

  :global(label.m_8fdc1311) {
    position: absolute;
    left: 0.85em;
    display: inline-block;
    padding: 0px 2px;
    z-index: 1;
    transition: all 0.2s ease;
  }

  &:global(.focus) label:global(.m_8fdc1311) {
    top: 0px;
    transform: translateY(-50%);
    font-size: 0.85em;
    background-color: #fff;
  }

  input:global(.m_8fb7ebe7) {
    border: none;

    &::placeholder {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease, visibility 0.2s ease;
    }
  }

  &:global(.focus) input:global(.m_8fb7ebe7::placeholder) {
    opacity: 1;
    visibility: visible;
  }
}
