.inputBox {
  display: flex;
  border-bottom: 1px solid #000;
  align-items: center;
  gap: 5px;
}

.input {
  width: 100%;
  padding: 7px;

  &::placeholder {
    color: #bfbfbf;
  }

  &:focus {
    outline: none;
  }
}
