.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    // background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background: #f7fbff;
}

.content {
    width: 100%;
    max-width: 480px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.warningBox {
    padding: 2.5rem 2rem;
    text-align: center;
    background: #f9f9f9;
}

.title {
    font-size: 1.2em;
    font-weight: 500;
    color: #ff5f57;
    margin: 0 0 1rem 0;
}

.warningText {
    font-size: 0.95rem;
    color: #333;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

.formBox {
    padding: 2rem;
}

.input {
    border-radius: 8px;
    border: 1px solid #ededed;

    &::placeholder {
        color: #999999;
        font-size: 12px;
        font-weight: 300;
    }

    // PasswordInput 내부 input 요소의 placeholder
    input::placeholder {
        color: #999999;
        font-size: 12px;
        font-weight: 300;
    }
}

.label {
    font-size: 12px;
    color: #333333;
}

.buttonBox {
    background: linear-gradient(90deg, #3d99d5 0%, #00ae6a 100%);
}

.deleteButton {
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
