.formBox {
    padding: 0 1rem 1rem 1rem;

    :global(.app-TextInput-root) {
        margin-top: 1rem;
    }
}

.submitButtonBox {
    padding: 1rem;
    text-align: end;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    color: #1e293b;
}

.label {
    font-size: 12px;
    color: #333333;
}

.input {
    border-radius: 8px;
    border: 1px solid #ededed;

    &::placeholder {
        color: #999999;
        font-size: 12px;
        font-weight: 300;
    }

    // PasswordInput 내부 input 요소의 placeholder
    input::placeholder {
        color: #999999;
        font-size: 12px;
        font-weight: 300;
    }
}
