/* ----- CSS reset ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}

/* ----- Global styles ----- */
body {
  margin: 0;
  font-family: var(--mantine-font-family);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height);
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);

  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

@media screen and (max-device-width: 31.25em) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  [data-respect-reduced-motion] [data-reduce-motion] {
    transition: none;
    animation: none;
  }
}

a,
button {
  color: inherit; // -apple-system-blue override
  display: inline-block;
  text-decoration: none;
}

button svg {
  display: block; //svg align-center
}

/* 리스트 */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* 프린트 */
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  /* 프린트 컬러 안나올 때 */
}

@page {
  size: a4;
  margin: 0;
  /* 프린트 내에 도메인 노출될 때 */
}
