/* ----- CSS reset ----- */
*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}

button {
  background: none;
  cursor: pointer;
  color: inherit; // apple-system-blue override
}

button svg {
  display: block;
}

ul,
li,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

textarea {
  background: none;
  border: none;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 16px; // root font-size
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--mantine-font-family);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height);
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);

  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);

  /* 모바일 가로모드 폰트확대 방지 */
  -webkit-text-size-adjust: none;

  /* 롱프레스 미리보기 방지 */
  -webkit-touch-callout: none;

  /* 텍스트 선택 방지 */
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: var.$mantine-breakpoint-sm;
  min-height: 100%;
  margin: 0 auto;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

@media screen and (max-device-width: 31.25em) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  [data-respect-reduced-motion] [data-reduce-motion] {
    transition: none;
    animation: none;
  }
}

[data-mantine-color-scheme="light"] .mantine-light-hidden {
  display: none;
}

[data-mantine-color-scheme="dark"] .mantine-dark-hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-blue-3);
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
  visibility: hidden;
}

:focus-visible {
  // outline: util.palette(third, default) auto 1px;
}

.essential::before {
  content: "*";
  color: var(--mantine-color-red);
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@media print {
  * {
    /* 프린트 컬러 안나올 때 */
    -webkit-print-color-adjust: exact;
  }
}

@page {
  size: a4;
  margin: 0; /* 프린트 내에 도메인 노출될 때 */
}
