.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.checkIconBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  text-align: center;
  margin-top: 2rem;

  h2 {
    margin-bottom: 0.625rem;
  }

  p {
    color: #999999;
  }
}

.buttonBox {
  display: flex;
  gap: 0.5rem;

  button {
    flex: 1;
  }
}
