.container {
  padding: 0.5rem 1rem;
  min-height: calc(100vh - 4rem);
}

.header {
  text-align: center;
  margin-bottom: 0.5rem;

  h2 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
  }
}

.infoSection {
  margin-bottom: 1rem;
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 1rem;
}

.infoCard {
  background: #fff;
  border-radius: 12px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ededed;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
  }
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;

  &:last-child {
    border-bottom: none;
  }
}

.infoLabel {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  min-width: 80px;
}

.infoValue {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-align: right;
  flex: 1;
  margin-left: 1rem;
}

.editButton {
  margin-top: 0.3rem;
}

// .statusBadge {
//   display: inline-flex;
//   align-items: center;
//   gap: 0.25rem;
//   padding: 0.25rem 0.75rem;
//   border-radius: 20px;
//   font-size: 0.8rem;
//   font-weight: 600;
// }

.priceSection {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  margin: 2rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid #e2e8f0;
}

.priceTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.1rem;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 1rem;

  &::before {
    content: "₩";
    font-size: 1.2rem;
  }
}

.priceInput {
  :global(.app-Input-wrapper) {
    --input-right-section-size: 4rem;
  }

  :global(.app-Input-input) {
    text-align: right;
  }
}

.checkboxContainer {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.submitSection {
  padding: 1.5rem 0;
  text-align: center;
}

.loadingState {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: #64748b;
  font-size: 0.9rem;
}
