.navWrap {
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  height: 120px;
  gap: 10px;
}

.leftWrap {
  display: "flex";
  gap: 30px;
}

.historyFilterwrap {
  display: "flex";
  gap: 30px;
}

.inputWrap {
  display: "flex";
  gap: 10px;
  align-items: "center";
}

.datePickerWrap {
  display: "flex";
  gap: 10px;
  align-items: "center";
}

.btnWrap {
  display: "flex";
  gap: 10px;
}
