.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  gap: 10px;
}

.historyFilterwrap {
  display: flex;
  gap: 30px;
}

.btnWrap {
  display: flex;
  gap: 10px;
}

.inputWrap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.datePickerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.selectBoxWrap {
  position: relative;
}

.btnBox {
  display: flex;
  gap: 10px;
  align-items: center;
}
