$SVG_IMAGE: "data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e";

.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    width: var(--checkBox-size);
    height: var(--checkBox-size);
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 2px;
    transition: background-color 0.2s ease;
  }

  &.checked:before {
    border-color: transparent;
    background-image: url($SVG_IMAGE);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: limegreen;
  }
}

.input {
  display: none;
  width: 30px;
  height: 30px;
  appearance: none;
}
