.inputBox {
  border: 1.25px solid #bfbfbf;
  padding: 7px;
  border-radius: 3px;
  position: relative;
  display: flex;
  gap: 5px;

  &.disabled {
    background-color: #f0f0f0;
  }
}

.input {
  width: 100%;

  &::placeholder {
    color: "#bfbfbf";
  }

  &:focus {
    outline: none;
  }
}
