.wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.input {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
}

.input:focus-within {
    border-radius: 4px;
    border: 1px solid transparent;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #0088ff 0%, #27c840 100%) border-box;
}

.clearableButton {
    cursor: pointer;
}
