.wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.input {
    width: 100%;
    border-radius: 4px !important;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #e5e7eb !important;

    // PasswordInput의 내부 input 래퍼에 border 제거
    > div {
        border: none !important;
    }
}

.input:focus,
.input:focus-within {
    border-radius: 4px !important;
    border: 1px solid transparent !important;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #0088ff 0%, #27c840 100%) border-box !important;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    outline: none !important;

    input {
        border-radius: 4px !important;
        border: none !important;
        outline: none !important;
    }
}

.clearableButton {
    cursor: pointer;
}
